// simple styling for Leap data console.

@import "ui_kit.scss";

// vlad color scheme
$vladGray: #3C3F40;
$vladBlue: #389BA6;
$vladLightBlue: #6CCED9;
$vladOrange: #D9A13B;
$vladWhite: #F2F2F2;
$vladOffWhite: #C7C7C7;

// darker color scheme
$darkGray: #333;
$gray: #888;
$bright: #eee;

$textHilight: 0 1px 0 rgba(255, 255, 255, 0.4);
$textShadow: 0 -1px 0 rgba(0, 0, 0, 0.4);


// Mixins
@mixin HelveticaLight {
	font-family: "HelveticaNeue-UltraLight";
	font-weight: lighter !important;
}

@mixin bar {
	padding: 10px 15px;
	color: $bright;
	text-shadow: $textShadow;
}

@mixin section {
	color: $vladGray;
	min-height: 250px;

	h3 {
		@include bar;
		@include boxShadow( 0 2px 3px rgba(0, 0, 0, 0.4));
		@include HelveticaLight;
		margin: 0;
	}	
}

#finger-panel {
	@include basicGr(#000, #111);
}

// App Styling
body {
	color: $vladWhite;
	@include basicGr(#121212, #000);
}

#header {
	@include bar;

	h1 {
		@include HelveticaLight;
		color: 	$bright;
		text-shadow: $textShadow;
	}
}

#controls {
	@include bar;
}

.section {
	@include section;

	clear: both;
}

// Visuals
.data-panel {
	width: 50%;
	float: left;

	height: 400px;
	-webkit-box-reflect: below 20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, transparent), to(rgba(255, 255, 255, 0.5)));
}


