body {
  background: #000;
  color: #f2f2f2; }

#header {
  padding: 10px 15px;
  color: #eeeeee;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }
  #header h1 {
    font-family: "HelveticaNeue-UltraLight";
    font-weight: lighter !important;
    color: #eeeeee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }

#controls {
  padding: 10px 15px;
  color: #eeeeee;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4); }

.section {
  color: #3c3f40;
  min-height: 250px;
  clear: both; }
  .section h3 {
    padding: 10px 15px;
    color: #eeeeee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    font-family: "HelveticaNeue-UltraLight";
    font-weight: lighter !important;
    margin: 0; }

.data-panel {
  width: 50%;
  float: left; }

#finger-vis {
  height: 400px;
  -webkit-box-reflect: below 20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, transparent), to(rgba(255, 255, 255, 0.5))); }

#finger-vis-2 {
  height: 400px;
  -webkit-box-reflect: below 20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, transparent), to(rgba(255, 255, 255, 0.5))); }

#finger-panel {
  background: black;
  /* Old browsers */
  background: -moz-linear-gradient(top, black 0%, #111111 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, #111111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, #111111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, #111111 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 0%, #111111 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, black 0%, #111111 100%);
  /* W3C */ }

body {
  background: #121212;
  /* Old browsers */
  background: -moz-linear-gradient(top, #121212 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #121212), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #121212 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #121212 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #121212 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #121212 0%, black 100%);
  /* W3C */ }

rect.finger-bar {
  position: absolute;
  bottom: 0; }

rect#finger-5 {
  x: 235; }

rect#finger-4 {
  x: 190; }

rect#finger-3 {
  x: 145; }

rect#finger-2 {
  x: 100; }

rect#finger-1 {
  x: 55; }
