// simple styling for Leap data console.

@import "ui_kit.scss";

// vlad color scheme
$vladGray: #3C3F40;
$vladBlue: #389BA6;
$vladLightBlue: #6CCED9;
$vladOrange: #D9A13B;
$vladWhite: #F2F2F2;
$vladOffWhite: #C7C7C7;

// darker color scheme
$darkGray: #333;
$gray: #888;
$bright: #eee;

$textHilight: 0 1px 0 rgba(255, 255, 255, 0.4);
$textShadow: 0 -1px 0 rgba(0, 0, 0, 0.4);


// Mixins
@mixin HelveticaLight {
	font-family: "HelveticaNeue-UltraLight";
	font-weight: lighter !important;
}

@mixin bar {
	padding: 10px 15px;
	color: $bright;
	text-shadow: $textShadow;
}

@mixin section {
	color: $vladGray;
	min-height: 250px;

	h3 {
		@include bar;
		@include boxShadow( 0 2px 3px rgba(0, 0, 0, 0.4));
		@include HelveticaLight;
		margin: 0;
	}	
}

html, body {
	height: 100%;
}

// App Styling
body {
	color: $vladWhite;
	@include basicGr(#121212, #000);

}

#header {

	h1 {
		@include HelveticaLight;
		color: 	$bright;
		text-shadow: $textShadow;
		text-align: center;
	}
}

// Visuals
#finger-panel {
	@include basicGr(#000, #111);
	width: 80%;
	height: 100%;
	margin: 0 auto;
	padding: 0 10% 25px;
}

#finger-panel .data-panel {
	width: 50%;

	height: 400px;
	-webkit-box-reflect: below 20px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(15%, transparent), to(rgba(255, 255, 255, 0.5)));

	&:nth-child(1) {
		float: left;
	}

	&:nth-child(2) {
		float: right;
	}
}

[data-ui="drawer"] {
	@include boxShadow(inset -5px 0 20px rgba(0, 0, 0, 0.4));
	@include patternBg( $bgBrushed, #aaa );
	position: absolute;
	top: 0;
	width: 250px;
	height: 100%;
}

#left[data-ui="drawer"] {
	left: 0;
}

[data-ui="header"] {
	@include boxShadow(0 2px 15px rgba(0, 0, 0, 0.7));
	@include basicGr(#aaa, #777);
	@include HelveticaLight;
	text-shadow: $textShadow;
	padding: 15px;
	font-size: 24px;
	letter-spacing: 1px;

}


